/* rem and em in media queries do NOT depend on html font-size setting in html. It means, 1rem = 1em will not be 10px anymore and it will be 16px as default value in the Browser!
INSTEAD, 1rem = 1em = 16px*/
/* rem is root font-size and 
em is current font-size - BUT WE TAKE BOTH OF THEM HERE AS EQUAL AND USE EM AND NOT REM - BECAUSE SOME OF THE BROWSERS HAVE BUGS WHEN WE USE MEDIA QUERIES, THAT'S WHY REM DOESN'T WORK WELL HERE! */

/******************************************/
/*BELOW 1344px (Smaller desktops)*/
/******************************************/
/* 1344px / 16px = 84em => our first breakpoint */
@media (max-width: 84em) {
  /* Our very first CSS Rule in MEDIA QUERY: 
  CHANGE THE MAX-WIDTH TO 1200px INSTEAD OF 1300px - WITH 1200px THE HERO SECTION AND NEXT SECTION ARE ALIGNED GOOD TOGETHER!*/
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    /* We make the font-size a little bit smaller to stay still in 3 line instead of 4 lines!*/
    font-size: 4.4rem;
  }

  /* changing the column from three to two columns in 1344px or lower!*/
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  A NEW MEDIA QUERY FOR 1200px => 1200px / 16 = 75em */
/******************************************/
/*BELOW 1200px (Tablets in Landscape mode and not in Portrait mode!)*/
/******************************************/
@media (max-width: 75em) {
  html {
    /* we want here to make everything smaller just one pixel, we change the font-size from 10px to 9px */
    /* 9px / 16px = 0.5625 * 100 = 56.25% => 56.25% is 9px */
    font-size: 56.25%;
  }
}

/* - Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
